<!DOCTYPE html>
<html lang="cs" prefix="og: http://ogp.me/ns#">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">

		<title>Stream.cz • Internetová televize, seriály online zdarma a videa</title>

		<link rel="shortcut icon" href="/static/userweb/img/icons/favicon.ico" type="image/x-icon" />
		<link rel="apple-touch-icon" sizes="57x57" href="/static/userweb/img/icons/apple-touch-icon-57x57.png">
		<link rel="apple-touch-icon" sizes="114x114" href="/static/userweb/img/icons/apple-touch-icon-114x114.png">
		<link rel="apple-touch-icon" sizes="72x72" href="/static/userweb/img/icons/apple-touch-icon-72x72.png">
		<link rel="apple-touch-icon" sizes="144x144" href="/static/userweb/img/icons/apple-touch-icon-144x144.png">
		<link rel="apple-touch-icon" sizes="60x60" href="/static/userweb/img/icons/apple-touch-icon-60x60.png">
		<link rel="apple-touch-icon" sizes="120x120" href="/static/userweb/img/icons/apple-touch-icon-120x120.png">
		<link rel="apple-touch-icon" sizes="76x76" href="/static/userweb/img/icons/apple-touch-icon-76x76.png">
		<link rel="apple-touch-icon" sizes="152x152" href="/static/userweb/img/icons/apple-touch-icon-152x152.png">
		<link rel="apple-touch-icon" sizes="180x180" href="/static/userweb/img/icons/apple-touch-icon-180x180.png">

		<meta name="msapplication-TileColor" content="#666666">
		<meta name="msapplication-TileImage" content="/static/userweb/img/icons/mstile-144x144.png">
		<meta name="msapplication-config" content="/static/userweb/browserconfig.xml">

		<link rel="alternate" type="application/rss+xml" title="Stream.cz: RSS nová videa" href="https://api.stream.cz/fresh.xml" />

		<meta name="description" content="">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="fragment" content="!" />
		<meta class="js-szn-status" name="szn:status" content="" />

		
			<meta name="apple-itunes-app" content="app-id=718088471, app-argument=https://www.stream.cz" />
		

		<meta property="fb:app_id" content="442275672555287"/>

		<meta property="og:locale" content="cs_CZ" />
		<meta property="og:site_name" content="Stream.cz" />
		<meta property="og:type" content="website" />
		<meta property="og:url" content="https://www.stream.cz" />
		<meta property="og:title" content="Stream.cz • Internetová televize, seriály online zdarma a videa" />
		<meta property="og:description" content="Internetová televize Stream.cz plná desítek originálních pořadů, videí a seriálů, které si pustíte, kdy chcete vy. Online i offline" />
		<meta property="og:image" content="https://www.stream.cz/static/userweb/img/logo-share-fb.png" />

		<script type="text/javascript">
			(function() {
				var TLD = 'cz' || "cz";
				var ENV = {
					version: "bb9045f",
					tld: TLD,
					debug: 0
				};

				window.StreamCZ = {
					ENV: ENV,
					INSTANCE: {}
				};
			})();
		</script>

		

		
		<link type="text/css" rel="stylesheet" href="/static/userweb/css/main.min.css?bb9045f" />
		<script type="text/javascript" src="/static/userweb/js/stream.polyfills.min.js?bb9045f"></script>
		<script type="text/javascript" src="/static/userweb/js/stream.react.min.js?bb9045f"></script>
		
	</head>

	<body>
		<div id="stream-app"></div>
		<div id="player" style="position: absolute; top: -9999px; left: -9999px;"></div>

		<script type="text/javascript">
			(function() {
				document.addEventListener("DOMContentLoaded", function() {
					window.createBrowserApp("#stream-app");
				});
			})();
		</script>
		
			<div style="position: absolute; top: -9999px; left: -9999px;">
				<script type="text/javascript">
					var google_conversion_id = 967516831;
					var google_custom_params = window.google_tag_params;
					var google_remarketing_only = true;
				</script>
				<script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js"></script>
			</div>
			<noscript>
				<img height="1" width="1" style="display:none;" alt="" src="//googleads.g.doubleclick.net/pagead/viewthroughconversion/967516831/?value=0&amp;guid=ON&amp;script=0"/>
			</noscript>
			<noscript>
				<img height="1" width="1" style="display:none;" alt="" src="//www.facebook.com/tr?id=214327815737468&ev=PageView&noscript=1" />
			</noscript>
		
	</body>
</html>
